<%inc admin/header.tmpl%>
<div class="hero-unit">
    <h1>欢迎使用Tkine CMS！</h1><br/>
    <p>跨平台：基于CGI 1.1标准，兼容Windows和Unix/Linux服务器<br/>
    高性能：使用原生C/C++开发，低端机器上也可高速运行<br/>
    新标准：基于最新版的HTML5标准, 兼容各种主流浏览器</p>
	<p>您在使用中遇到问题，或者有好的意见、建议都可以通过 admin@tkine.com 联系我们</p>
    <p><a class="btn btn-primary btn-large" href="http://www.tkine.com" target="_black">了解更多 &raquo;</a></p>
</div>
<div class="row">
	<div class="span12">
	<div class="alert alert-info">您好，<%nickname%>，您本次登陆的IP是<%last_login_ip%>，登陆时间是<%last_login_time%>。</div>
	</div>
</div>
<%inc admin/footer.tmpl%>