<%inc admin/header.tmpl%>
<div style="display:<%error_display%>" class="alert alert-error">
	<a class="close" data-dismiss="alert">&times;</a>
	<strong>错误:</strong> <%error_msg%>
</div>
<section>
	<div class="page-header">
	<h1>密码设置 <small>修改用户密码</small></h1>
	</div>
	<div class="row">
		<div class="span12">
            <form method="post" class="form-horizontal">
                <fieldset>
                    <legend>修改密码</legend>
                    <div class="control-group">
                        <label class="control-label" for="old_pass">旧密码</label>
                        <div class="controls">
                            <input type="password" id="old_pass" name="old_pass" required="required" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="new_pass">新密码</label>
                        <div class="controls">
                            <input type="password" id="new_pass" name="new_pass" required="required" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="repet_pass">确认密码</label>
                        <div class="controls">
                            <input type="password" id="repet_pass" required="required" />
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">保存</button>
                        <a href="./admin_password" class="btn">取消</a>
                    </div>
                </fieldset>
            </form>
		</div><!--span12-->
	</div>
</section>
<%inc admin/footer.tmpl%>