<%inc header.tmpl%>
<div class="row">
	<div class="span3">
		<%inc side_product_type.tmpl%>
		<%inc side_last_article.tmpl%>
		<%inc side_last_product.tmpl%>
	</div>
	<div class="span9">
		<%node_list%>
	</div>
</div>
<%inc footer.tmpl%>