<%inc header.tmpl%>
<div class="row">
	<div class="span3">
		<%inc side_product_type.tmpl%>
		<%inc side_last_article.tmpl%>
		<%inc side_last_product.tmpl%>
	</div>
	<div class="span9">
		<h4 style="text-align:center;"><%node_title%></h4>
		<hr/>
		<div class="alert alert-info" style="text-align:right;">发布时间: <%node_create_time%></div>
		<div>
		<%node_content%>
		</div>
	</div>
</div>
<%inc footer.tmpl%>